body {
    background-color: black;
    color: white;
    margin: 0;
}
.class1
{
    background-color: rgb(126, 113, 113);
    color: black;
}
.class2
{
    background-color: orange;
    color: black;
}
.class1:hover
{
    background-color: rgb(126, 113, 113);
}
.class2:hover
{
    background-color: orange;
}
button:hover{
    background-color: blue;
    transition-duration: 1s;
}
button{
    height:100px;
    width:100px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(19, 15, 15);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 150%;
    cursor: pointer;
}
#result{
    height:150px;
    width: 380px;
    border: 4px solid black;
    font-weight: bold;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 300%;
}
@media (max-width: 600px) {
    
    #result{
        width: 100%;
    }
    button {
        width: 80px;
        height: 80px;
    }
    table {
        margin-top: 40px;
        width: 100%;
    }
}