body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 8px solid blueviolet;
}

li {
    display: inline;
    margin-right: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 6px;
    margin: 10px 15px;
}

a:hover, a:active {
    background-color: blueviolet;
    color: black;
    border-radius: 6px;
    display: inline;
    margin: 10px 15px;
    transition-duration: 1.5s;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
}

img {
    border-radius: 50%;
    border: 4px solid white;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1 {
    padding: 5px 0;
    font-size: 200%;
    font-weight: bold;
}

hr {
    border: 2px solid blueviolet;
}

.div1 {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: blueviolet;
    border-radius: 7%;
    color: black;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.div2 {
width: 80%;
max-width: 400px;
margin: 0 auto;
border: 4px solid blueviolet;
background-color: black;
border-radius: 7%;
color: white;
font-weight: bold;
padding: 20px;
box-sizing: border-box;
margin-bottom: 30px;
}
table {
    margin: 20px 0px;
    color: white;
    font-size: 130%;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid blueviolet;
    background-color: #000000;
}

label {
    font-size: 110%;
    margin: 20px 0px;
    display: block;
}

progress {
    height: 15px;
    border-radius: 20px;
    margin: 20px 0px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

input[type=text], input[type=email] {
    width: 80%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 4px;
    margin: 10px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    background-color: blueviolet;
    color: white;
    width: 90%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin: 0px 10px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 2px 2px;
    font-size: 30px;
    text-decoration: none;
}

.fa-linkedin {
    background-color: blue;
    color: white;
    width: 30px;
    border-radius: 10px;
}

.fa-whatsapp {
    background-color: rgb(40, 212, 40);
    color: white;
    width: 30px;
    border-radius: 10px;
}

.fa-github {
    background-color: rgb(166, 4, 128);
    color: white;
    width: 30px;
    border-radius: 10px;
}

.fa-home {
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 30px;
}

footer {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 150%;
    }
    a:link, a:visited, a:hover, a:active {
        font-size: 14px;
        margin: 10px 5px;
        padding: 8px 12px;
        display:inline-block;
        width:auto; 
    }
    .div1, .div2 {
        width: 90%;
    }
    table {
        width: 100%;
    }
    
    th, td {
        width: auto;
    
    }
    input[type=text], input[type=email] {
        width: 100%;
        padding: 15px 0;
        margin: 10px 0;
    }
    
    input[type=submit], input[type=reset] {
        width: 100%;
        margin: 10px 0;
    }
}